.jumbotron {
  color: #fff;
  background-color: #C48142;
}

.pModified {
  font-size: 18px;
}

h1 {
  color: #C48142;
  font-size: 40px;
  font-weight: bold;
}

#title {
  color: #fff;
  font-size: 45px;
  font-weight: normal;
}

.information {
  margin-top: 50px;
}

.subsection {
  padding-right: 10px;
}

.centeredImage {
  margin-right: 20vw;
}

a {
   text-decoration: none ;
   color: #cecece;
}

a:hover {
  color: white;
  text-decoration:none;
  cursor:pointer;
}

img {
  width: 40vw;
}

td {
  padding: 15px;
}

table, th, td {
  border: 1px solid black;
}
